/* Containers */
.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
}
.card {
	padding: 20px;
	margin: 10px;
}
.card-shadow {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 3px 10px #00000023;
	padding: 20px;
	margin: 10px;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* repeat two times by one fraction */
	gap: 20px;
	/* gap is used to add space (margin) between elements*/
	justify-content: center;
	align-items: center;
	height: 100%;
}
.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}
/*End Containers */

/* Buttons */
.btn {
	display: inline-block;
	padding: 2px 20px;
	cursor: pointer;
	background: var(--primary-color);
	color: var(--light-color);
	border: none;
	border-radius: 5px;
	transition: .2s;
	font-size: 1.2rem;
	font-weight: 400;
}
.btn-light {
	display: inline-block;
	border-bottom: 1px solid var(--light-color);
	color: var(--light-color);
	padding: 2px 0;
	cursor: pointer;
	font-size: 1.4rem;
	transition: .2s;
	font-weight: 500;
}
.btn-dark {
	display: inline-block;
	border-bottom: 1px solid var(--primary-color);
	color: var(--primary-color);
	padding: 2px 0;
	cursor: pointer;
	font-size: 1.4rem;
	transition: .2s;
	font-weight: 500;
}
.btn:hover,
.btn-light:hover,
.btn-dark:hover {
	-webkit-transform: translateY(-.2rem);
	-moz-transform: translateY(-.2rem);
	transform: translateY(-.2rem);
}
/*End Buttons */

/* Backgrounds */
.bg-primary {
	background-color: var(--primary-color);
	color: #fff;
}
.bg-secondary {
	background-color: var(--secondary-color);
	color: #fff;
}
.bg-dark {
	background-color: var(--dark-color);
	color: #fff;
}
.bg-light {
	background-color: var(--light-color);
	color: #333;
}
.bg-primary a,
.bg-secondary a,
.bg-dark a {
	color: #fff;
}
/* End Backgrounds */

/* Text colors */
.text-primary {
	color: var(--primary-color);
}
.text-secondary {
	color: var(--secondary-color);
}
.text-dark {
	color: var(--dark-color);
}
.text-light {
	color: var(--light-color);
}
/*End Text colors */

/* Text sizes */
.lead {
	font-size: 20px;
}
.sm {
	font-size: 1rem;
}
.md {
	font-size: 2rem;
}
.lg {
	font-size: 3rem;
}
.xl {
	font-size: 4rem;
}
.text-center {
	text-align: center;
}
/*End Text sizes */

/* Margin */
.my-1 {
	margin: 1rem 0;
}
.my-2 {
	margin: 1.5rem 0;
}
.my-3 {
	margin: 2rem 0;
}
.my-4 {
	margin: 3rem 0;
}
.my-5 {
	margin: 4rem 0;
}

.m-1 {
	margin: 1rem;
}
.m-2 {
	margin: 1.5rem;
}
.m-3 {
	margin: 2rem;
}
.m-4 {
	margin: 3rem;
}
.m-5 {
	margin: 4rem;
}
/* End Margin */

/* Padding */

.py-1 {
	padding: 1rem 0;
}
.py-2 {
	padding: 1.5rem 0;
}
.py-3 {
	padding: 2rem 0;
}
.py-4 {
	padding: 3rem 0;
}
.py-5 {
	padding: 4rem 0;
}

.p-1 {
	padding: 1rem;
}
.p-2 {
	padding: 1.5rem;
}
.p-3 {
	padding: 2rem;
}
.p-4 {
	padding: 3rem;
}
.p-5 {
	padding: 4rem;
}
/*End Padding */
